---
layout: default
header_class: alt

banner:
- image: /images/slide-01.jpg
  title: 漫画萌开放蓄力中
  url: "http://www.comicmoe.net"
- image: /images/slide-02.jpg
  title: 更多美图绘制中
  url: "http://www.moepic.net"
- image: /images/slide-03.jpg
  title: 社区开启指日可待
  url: "http://bbs.ffsky.net"

features:
- icon: fa-star
  title: 最新的推荐漫画
  excerpt: 这里可以为大家推荐最新的漫画，和经典的冷漫，希望大家可以喜欢咩~
- icon: fa-paper-plane
  title: 最快捷和最方便
  excerpt: 使用漫画萌快捷看漫画！方便看漫画！网站模板风格简单轻便！
- icon: fa-cloud
  title: 在云上保存记录
  excerpt: 使用漫画萌可以在云上保存观看记录，订阅或者下载漫画观看咩~

posts:
- image: /images/pic-01.jpg
  title: 关于我转生后成为史莱姆的那件事
  excerpt: 关于我转生后成为史莱姆的那件事漫画 ，普通上班族三上悟（37，童贞）遇刺身亡。迎接他的，是转生后的异世界史莱姆生活……<br><br><br><br><br><br><br><br><br><br>
  url: "http://www.comicmoe.net/manhua/guanyuwozhuanshenghouchengweishilaimudenajianshi/"
- image: /images/pic-02.jpg
  title: 幼女战记
  excerpt: 幼女战记漫画 ，有着金发碧眼与白皙肌肤的幼女翱翔天际，残忍无情地击坠敌军。以幼女口齿不清的语调指挥大军的她，名叫谭雅·提古雷查夫。 然而她的真实身分，则是在神的失控下转生成为幼女的菁英上班族。把效率与出人头地看得比什么都还重要的幼女提古雷查夫，逐渐成为帝国军魔导师当中最危险的存在——<br><br><br><br><br><br><br>
  url: "http://www.comicmoe.net/manhua/younuzhanji/"
- image: /images/pic-03.jpg
  title: 我家大师兄脑子有坑
  excerpt: 主角穿越到修真世界之后，发现自己不是主角设定！这不就坑爹了吗？打怪升级不重要了！活下去才是问题啊！<br><br><br><br><br><br><br><br><br><br>
  url: "http://www.comicmoe.net/manhua/wojiadashixiongnaoziyoukeng/"
- image: /images/pic04.jpg
  title: 灰色的果实TVA版
  excerpt: 灰色的果实TVA版漫画 ，改编自同名游戏，与之前的广濑周版本不同，本作是为了动画化宣传而推出的，在剧情方面会更接近于将要播出的动画本篇。<br><br><br><br><br><br><br><br><br><br><br>
  url: "http://www.comicmoe.net/manhua/huisedeguoshiTVAban/"
- image: /images/pic05.jpg
  title: 灰色的迷宫
  excerpt: 灰色的迷宫漫画 ，──这样真的可以吗？ 在一分一秒都无法大意的世界中生存下来的少年，一遍又一遍地如此思考着。安稳到简直可以称之为罪恶的一天又一天，邂逅的少女们仿佛在一刻不停的审视着过去的自己。不断鞭笞着少年的心。 ——找到的那个少女，活下来的意义 不再需要伪装的真实的自己—— ——抱着必死的决心活下来，究竟是种什么样的感觉 在伙伴的庇护下成为能保护伙伴的人—— ——能活下来太好了，真的，太好了 因为少年的介入，少女们灰色的果树园再度染上色彩。 虽不能将永恒纳入掌中，但至少，紧握着那只手不放得活下去，我可以做到。 这就是一位少年紧藏在心中的决意——<br><br>
  url: "http://www.comicmoe.net/manhua/huisedemigong/"
- image: /images/pic06.jpg
  title: 灰色的乐园
  excerpt: 灰色的乐园漫画 ，著名恋爱游戏灰色系列第三作的同名漫画。<br><br><br><br><br><br><br><br><br><br><br><br>
  url: "http://www.comicmoe.net/manhua/huisedeleyuan/"
---

{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Site home page.

{% endcomment %}

{% include layout/banner.html slides=page.banner %}

<!-- One -->
	<section id="one" class="wrapper major-pad">
		<div class="inner">
			<section class="spotlight">
				<div class="content">
					<h2>漫画萌 幻想天空旗下出品</h2>
					<p>漫画萌（<a href="http://www.comicmoe.net" target="_blank">www.comicmoe.net</a>）是幻想天空旗下幻天领域开发的产品，为广大二次元爱好者提供一个方便快捷的漫画阅读平台和创作平台。</p>
				</div>
				<span class="image"><img src="{{ site.baseurl }}/images/pic-07.jpg" alt="" /></span>
			</section>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="wrapper content-pad">
		<div class="inner">
			{% include components/features.html features=page.features %}
		</div>
	</section>

<!-- Three -->
	<section id="three" class="wrapper style2">
		<div class="inner">
			<h2>推荐漫画</h2>
			{% include components/posts.html posts=page.posts %}
		</div>
	</section>