---
layout: default
header_class: alt

banner:
- image: /images/slide-01.jpg
  title: 漫画萌开放蓄力中
  url: "http://www.comicmoe.net"
- image: /images/slide-02.jpg
  title: 更多美图绘制中
  url: "http://www.moepic.net"
- image: /images/slide-03.jpg
  title: 社区开启指日可待
  url: "http://bbs.ffsky.net"

features:
- icon: fa-star
  title: 最新的推荐漫画
  excerpt: 这里可以为大家推荐最新的漫画，和经典的冷漫，希望大家可以喜欢咩~
- icon: fa-paper-plane
  title: 最快捷和最方便
  excerpt: 使用漫画萌快捷看漫画！方便看漫画！网站模板风格简单轻便！
- icon: fa-cloud
  title: 在云上保存记录
  excerpt: 使用漫画萌可以在云上保存观看记录，订阅或者下载漫画观看咩~

posts:
- image: /images/pic01.jpg
  title: 关于我转生后成为史莱姆的那件事
  excerpt: 关于我转生后成为史莱姆的那件事漫画 ，普通上班族三上悟（37，童贞）遇刺身亡。迎接他的，是转生后的异世界史莱姆生活……
  url: "http://www.comicmoe.net/manhua/guanyuwozhuanshenghouchengweishilaimudenajianshi/"
- image: /images/pic02.jpg
  title: 幼女战记
  excerpt: 幼女战记漫画 ，有着金发碧眼与白皙肌肤的幼女翱翔天际，残忍无情地击坠敌军。以幼女口齿不清的语调指挥大军的她，名叫谭雅·提古雷查夫。 然而她的真实身分，则是在神的失控下转生成为幼女的菁英上班族。把效率与出人头地看得比什么都还重要的幼女提古雷查夫，逐渐成为帝国军魔导师当中最危险的存在——
  url: "http://www.comicmoe.net/manhua/younuzhanji/"
- image: /images/pic03.jpg
  title: Elementum auctor
  excerpt: Quis interdum. Lorem quis lacus justo. Sed libero condimentum vehicula sem vel, mattis amet mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi aliquam aenean.
  url: "#"
- image: /images/pic04.jpg
  title: Urna vel lacinia
  excerpt: Integer vel tincidunt lacus. Nulla augue nunc, eleifend quis leo ac, maximus interdum tellus. Etiam at vestibulum felis, id efficitur risus. Praesent ac nulla ex. Duis elementum.
  url: "#"
- image: /images/pic05.jpg
  title: Neque et suscipit
  excerpt: Libero condimentum, vehicula sem vel, mattis mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi in aliquam est. Aenean dapibus porttitor nulla ultrices venenatis.
  url: "#"
- image: /images/pic06.jpg
  title: Vestibulum placerat
  excerpt: Tristique tellus et ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent mauris risus, pellentesque eu leo non, tincidunt.
  url: "#"
---

{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Site home page.

{% endcomment %}

{% include layout/banner.html slides=page.banner %}

<!-- One -->
	<section id="one" class="wrapper major-pad">
		<div class="inner">
			<section class="spotlight">
				<div class="content">
					<h2>Libero bibendum nullam vitae magna sed veroeros</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id interdum magna, ultricies aliquet curabitur sed metus pellentesque, ornare sapien quis.</p>
				</div>
				<span class="image"><img src="{{ site.baseurl }}/images/pic07.jpg" alt="" /></span>
			</section>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="wrapper content-pad">
		<div class="inner">
			{% include components/features.html features=page.features %}
		</div>
	</section>

<!-- Three -->
	<section id="three" class="wrapper style2">
		<div class="inner">
			<h2>推荐漫画</h2>
			{% include components/posts.html posts=page.posts %}
		</div>
	</section>