{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site footer

	Description:

		Contact info, form, and footer.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Contact -->
	<section id="contact" class="wrapper split">
		<div class="inner">
			<section>
					<h2>APP客户端</h2>

					<p>详细介绍 =》 <a href="http://www.acgnz.cc/5726" target="_blank">点击查看</a></p>
					<p>PC版客户端 =》 <a href="http://www.acgnz.cc/5042" target="_blank">点击下载</a></p>
					<p>更多客户端 =》 <a href="http://www.acgnz.cc/app" target="_blank">点击下载</a></p>
					<p><img src="https://ws2.sinaimg.cn/large/68f834efgw1f9ppk3in45j208c08ct9w.jpg" alt=""></p>
						</section>
			<section>
				<h2>关于我们</h2>
				<ul class="bulleted-icons">
					<li>
						<span class="icon-wrapper"><span class="icon fa-envelope"></span></span>
						<h3>邮件</h3>
						<p><a href="#">mail@rpgsky.net</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-weibo"></span></span>
						<h3>微博</h3>
						<p><a href="http://weibo.com/rpgsky" target="_blank">weibo.com/rpgsky</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-qq"></span></span>
						<h3>动漫QQ群（收费）</h3>
						<p><a href="http://shang.qq.com/wpa/qunwpa?idkey=b7167d087120423f34968f09079d8e6c381a254de93868d29271f1d87c5e46e1" target="_blank">232508962</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-qq"></span></span>
						<h3>萌璃QQ群（收费）</h3>
						<p><a href="http://shang.qq.com/wpa/qunwpa?idkey=5294982474035a068c408f249397c92c3e6f0a29150ed1e3dec80b3f2c5cd9fb" target="_blank">295510653</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-qq"></span></span>
						<h3>动漫QQ群（免费）</h3>
						<p><a href="http://shang.qq.com/wpa/qunwpa?idkey=d1a4b65e737d6d76ee967a409c67a4a395cdd96cf6c6fbb71d551f1d0e67e810" target="_blank">499426739</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-weixin"></span></span>
						<h3>微信公众</h3>
						<p><a href="http://tc.ffsky.net/images/2016/06/20/3d31535740c05e0b61b95dcee9bac66e.th.jpg" target="_blank">amahain</a></p>
					</li>
				</ul>
			</section>
		</div>
	</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<p class="copyright">&copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.</p>
			<ul class="menu">
				<li><a href="#">Terms<span> of Use</span></a></li>
				<li><a href="#">Privacy<span> Policy</span></a></li>
				<li><a href="#">Legal<span> Information</span></a></li>
			</ul>
		</div>
	</footer>