{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site footer

	Description:

		Contact info, form, and footer.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Contact -->
	<section id="contact" class="wrapper split">
		<div class="inner">
			<section>
					<h2>APP客户端</h2>

					<p>详细介绍 =》 <a href="http://www.acgnz.cc/5726" target="_blank">点击查看</a></p>
					<p>PC版客户端 =》 <a href="http://www.acgnz.cc/5042" target="_blank">点击下载</a></p>
					<p>更多客户端 =》 <a href="http://www.acgnz.cc/app" target="_blank">点击下载</a></p>
					<p><img src="https://ws2.sinaimg.cn/large/68f834efgw1f9ppk3in45j208c08ct9w.jpg" alt=""></p>
						</section>
			<section>
				<h2>Other ways to reach us</h2>
				<ul class="bulleted-icons">
					<li>
						<span class="icon-wrapper"><span class="icon fa-envelope"></span></span>
						<h3>Email</h3>
						<p><a href="#">information@untitled.tld</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-twitter"></span></span>
						<h3>Twitter</h3>
						<p><a href="#">twitter.com/untitled-tld</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-phone"></span></span>
						<h3>Phone</h3>
						<p>(800) 555-0000</p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-facebook"></span></span>
						<h3>Facebook</h3>
						<p><a href="#">facebook.com/untitled-tld</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-home"></span></span>
						<h3>Mailing Address</h3>
						<p>1234 Fictional Avenue<br />
						Nashville, TN 00000<br />
						United States
						</p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-linkedin"></span></span>
						<h3>LinkedIn</h3>
						<p><a href="#">linkedin.com/untitled-tld</a></p>
					</li>
				</ul>
			</section>
		</div>
	</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<p class="copyright">&copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.</p>
			<ul class="menu">
				<li><a href="#">Terms<span> of Use</span></a></li>
				<li><a href="#">Privacy<span> Policy</span></a></li>
				<li><a href="#">Legal<span> Information</span></a></li>
			</ul>
		</div>
	</footer>