{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site header

	Description:

		Site header and navigation.
		Set "header_class" to "alt" in the page frontmatter
		to blend the header with the page.

	Example:

		{% include layout/header.html %}

{% endcomment %}

<!-- Header -->
	<header id="header" class="{{ include.class }}">
		<h1><a href="{{ site.baseurl }}/">
			{{ site.title }} <span>{{ site.tagline }}</span>
		</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li>
					<a href="#" class="submenu fa-angle-down">Page Layouts</a>
					<ul>
						<li><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
						<li><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
						<li><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
						<li>
							<a href="#">Submenu</a>
							<ul>
								<li><a href="#">Option One</a></li>
								<li><a href="#">Option Two</a></li>
								<li><a href="#">Option Three</a></li>
								<li><a href="#">Option Four</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li><a href="{{ site.baseurl }}/elements.html">Elements</a></li>
				<li><a href="#" class="button">Sign Up</a></li>
			</ul>
		</nav>
	</header>