{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site header

	Description:

		Site header and navigation.
		Set "header_class" to "alt" in the page frontmatter
		to blend the header with the page.

	Example:

		{% include layout/header.html %}

{% endcomment %}

<!-- Header -->
	<header id="header" class="{{ include.class }}">
		<h1><a href="{{ site.baseurl }}/">
			{{ site.title }} <span>{{ site.tagline }}</span>
		</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/">首页</a></li>
				<li><a href="//www.comicmoe.net" target="_blank">主站</a></li>
				<li><a href="//www.acgnz.cc" target="_blank">资源</a></li>
				<li><a href="//bbs.ffsky.net" target="_blank">论坛</a></li>
				<li>
					<a href="#" class="submenu fa-angle-down">关于</a>
					<ul>
						<li><a href="{{ site.baseurl }}/left-sidebar.html">关于我们</a></li>
						<li><a href="{{ site.baseurl }}/left-sidebar.html">赞助我们</a></li>
						<li><a href="{{ site.baseurl }}/left-sidebar.html">使用条款</a></li>
						<li><a href="{{ site.baseurl }}/right-sidebar.html">隐私政策</a></li>
						<li><a href="{{ site.baseurl }}/no-sidebar.html">法律声明</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="submenu fa-angle-down">帮助</a>
					<ul>
						<li><a href="{{ site.baseurl }}/left-sidebar.html">投稿说明</a></li>
						<li><a href="{{ site.baseurl }}/right-sidebar.html">作者相关</a></li>
						<li><a href="{{ site.baseurl }}/no-sidebar.html">阅读说明</a></li>
					</ul>
				</li>
				<!--li>
					<a href="#" class="submenu fa-angle-down">Page Layouts</a>
					<ul>
						<li><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
						<li><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
						<li><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
						<li>
							<a href="#">Submenu</a>
							<ul>
								<li><a href="#">Option One</a></li>
								<li><a href="#">Option Two</a></li>
								<li><a href="#">Option Three</a></li>
								<li><a href="#">Option Four</a></li>
							</ul>
						</li>
					</ul>
				</li-->
				<li><a href="{{ site.baseurl }}/blog">博客</a></li>
				<!--li><a href="{{ site.baseurl }}/elements.html">Elements</a></li-->
				<li><a href="http://my.comicmoe.net" target="_blank" class="button">会员中心</a></li>
			</ul>
		</nav>
	</header>